{% style %}
  .bg_overlay_text_section{background:{{ section.settings.bg_color }};}
{% endstyle %}

<div class="bg_overlay_text_section">
  <div class="Container">
    <div class="bg_overlay_text">
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Background Overlay Text",
    "settings": [
      
      {
        "type": "header",
        "content": "Background"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
      }
    ],
    "blocks": [
      {
        "name": "Text",
        "type": "Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "textarea",
            "id": "desc",
            "label": "Description"
          },
          {
            "type": "html",
            "id": "vitamin_text",
            "label": "Vitamin Text"
          }
        ]
      },
      {
        "name": "no-ingradiants",
        "type": "no-ingradiants",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Background Overlay Text",
        "category": "Text"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}