
<section class="Section content_strip_section" id="section-{{ section.id }}"> <!-- Section--spacingNormal -->
    <ul class="content_strip slick" data-slick='{
     "dots": false,
     "arrows": false,
     "infinite": true,
     "centerMode": true,
     "centerPadding": "40%",
     "slidesToShow": 1,
     "slidesToScroll": 1,
     "autoplay": true,
     "autoplaySpeed": 3000,
     "speed": 19000,
     "pauseOnHover": false,
     "cssEase": "linear",
     "variableWidth": true,
      "responsive": [{"breakpoint":992,"settings":{"centerPadding": "25%"}}]
     }'>
      {%- for block in section.blocks -%}
        {%- if block.settings.title != blank -%}
          <li class="slide text_center">{{ block.settings.title }}</li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
</section>

{% schema %}
  {
    "name": "Content Strip",
    "class": "content-strip",
    "settings": [
      {
        "type": "header",
        "content": "Background"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
      }
    ],
    "blocks": [
      {
        "type": "Text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Content Strip",
        "category": "Text"
      }
    ]
  }
{% endschema %}
