<section class="Section Section--spacingNormal home_blog_section" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="slideshow">
  <div class="Container">
    {% if section.settings.title != blank %}
    <h2>{{ section.settings.title }}</h2>
    {% endif %}
    <div class="home_blog">
      
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Home Blog",
    "settings": [
      {
        "type": "checkbox",
        "id": "enabled_home_blog",
        "label": "Show Home Blog",
        "default": true
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "blog",
        "id": "blog",
        "label": "Blog"
      }
    ],
    "presets": [
      {
        "name": "Home Blog",
        "category": "Blog"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}