<section class="Section Section--spacingNormal text_logo_section" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="slideshow">
  <div class="Container">
    {% if section.settings.desc != blank %}
    <p>{{ section.settings.desc }}</p>
    {% endif %}
    <div class="text_logo">
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Text Logo",
    "settings": [
      {
        "type": "checkbox",
        "id": "enabled_text_logo",
        "label": "Show Text Logo",
        "default": true
      },
      {
        "type": "textarea",
        "id": "desc",
        "label": "Description"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}