<section class="Section Section--spacingNormal text_logo_section" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="slideshow">
  <div class="Container">
    {% if section.settings.desc != blank %}
    <p>{{ section.settings.desc }}</p>
    {% endif %}
    <div class="text_logo">
      <ul>
        <li>
          <figure><img src=""></figure>
          <h4></h4>
        </li>
      </ul>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Text Logo",
    "settings": [
      {
        "type": "checkbox",
        "id": "enabled_text_logo",
        "label": "Show Text Logo",
        "default": true
      },
      {
        "type": "textarea",
        "id": "desc",
        "label": "Description"
      }
    ],
    "blocks": [
      {
        "type": "Text",
        "name": "Text",
        "settings": [
          {
            "type": "image_picker",
            "id": "bg_image",
            "label": "Background Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Text Logo",
        "category": "Logo"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}