{%- if section.settings.enabled_video_text -%}
<section class="Section Section--spacingNormal video_text_section" id="section-{{ section.id }}">
  <div class="Container">
    <div class="video_text_wrapper">
      <div class="video_text_left">
  {%- if section.settings.video_link != blank or section.settings.image != blank -%}
    {% if section.settings.video_link != blank %}
    <video width="100%" controls>
  <source src="{{ section.settings.video_link }}" type="video/mp4">
  <source src="{{ section.settings.video_link }}" type="video/ogg">
  Your browser does not support the video tag.
</video>
      {%- endif -%}
    {%- else -%}
    {%- if section.settings.image != blank -%}
        <figure><img src="{{ section.settings.image | img_url: 'master' }}" alt="" title="" /></figure>
    {%- endif -%}
    {%- endif -%}
      </div>
      <div class="video_text_right">
      </div>
    </div>
  </div>
</section>
{%- endif -%}


{% schema %}
  {
    "name": "Video Text",
    "settings": [
      {
        "type": "checkbox",
        "id": "enabled_video_text",
        "label": "Show Video Text",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "video_link",
        "label": "Video Link"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "desc",
        "label": "Description"
      },
      {
        "type": "text",
        "id": "btn_title",
        "label": "Button Heading"
      },
      {
        "type": "url",
        "id": "btn_link",
        "label": "Button Link"
      }
    ],
    "presets": [
      {
        "name": "Video Text",
        "category": "Text"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}