/*---------- Three Column ---------- */
.three_column_section{
  width:100%;
  text-align:center;
}
.three_column_wrapper{
  width:100%;
}
.three_column_heading{
  width:100%;
}
.three_column_heading h2{
  margin:0;
}
.three_column_heading p{
  margin:0;
}
.three_column_list{
  width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}
.three_column{
  width:32%;
}

/*---------- Featured Logo ---------- */
.featured_logo_section{
    width:100%;
  }
  .featured_logo{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
  }
  .featured_logo_title{
    width:24%;
  }
  .featured_logo_slider{
    width:74%;
    margin:0;
    padding:0;
  }
  .featured_logo_slider li{
    margin:0;
    padding:0;
  }

/*---------- Video Text ---------- */
.video_text_section{
  width:100%;
}
.video_text_wrapper{
  width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}
.video_text_left{
  width:54%;
}
.video_text_right{
  width:42%;
}

/*---------- Background Text ---------- */
.background_text_section{
  width:100%;
}
.background_text_wrapper{
  width:100%;
}




