/*---------- Three Column ---------- */
.three_column_section{
  width:100%;
  text-align:center;
}
.three_column_wrapper{
  width:100%;
}
.three_column_heading{
  width:100%;
}
.three_column_heading h2{
  margin:0;
}
.three_column_heading p{
  margin:0;
}
.three_column_list{
  width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}
.three_column{
  width:32%;
}

/*---------- Featured Logo ---------- */
.featured_logo_section{
    width:100%;
  }
  .featured_logo{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
  }
  .featured_logo_title{
    width:24%;
  }
  .featured_logo_slider{
    width:74%;
    margin:0;
    padding:0;
  }
  .featured_logo_slider li{
    margin:0;
    padding:0;
  }

/*---------- Video Text ---------- */
.video_text_section{
  width:100%;
}
.video_text_wrapper{
  width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}
.video_text_left{
  width:54%;
}
.video_text_right{
  width:42%;
}

/*---------- Background Text ---------- */
.background_text_section{
  width:100%;
}
.background_text_wrapper{
  width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}
.background_text_left,.background_text_right{
  width:49%;
}

/*---------- Available Logo ---------- */
.available_logo_section{
  width:100%;
}
.available_logo{
  width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}
.available_logo_left{
  width:49%;
}
.available_logo_right{
  width:49%;
}

/*---------- Home Review ---------- */
.home_review_section{
  width:100%;
}
.home_review{
  width:100%;
}

.js .features--show-element-staggering .ProductList--grid .ProductItem{
  visibility:visible;
}

.text_logo_section{
  width:100%;
}
.text_logo{
  width:100%;
}
.text_logo ul{
  width:100%;
  margin:0;
  padding:0;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  max-width:900px;
  margin:0 auto;
}
.text_logo ul li{
  width:24%;
  position:relative;
  display:block;
}
.text_logo ul li figure{
  margin:0;
}
.text_logo ul li figure img{
  width:100%;
}
.text_logo h4{
  position:absolute;
  top:0;
  left:0;
  font-size:42px;
  letter-spacing: 0px;
color: #FFFFFF;
text-transform: uppercase;
opacity: 1;
  line-height:46px;
  font-weight:600;
  padding:5px 10px;
}
.text_logo_section p{
  font-size:28px;
  line-height:1.4;
  color:#496427;
  text-align:center;
  max-width:1000px;
  margin:0 auto;
  font-weight:500;
  margin:0 0 50px;
}




















